src/flows/CB_GM_Grant_Approval_Rule.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>LockBudget</name>
        <label>Lock Budget</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>CBGMLockBudgetAction</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>oppIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>UnlockBudget</name>
        <label>Unlock Budget</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>CBGMUnlockBudgetAction</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>oppIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Lock_Unlock_Decision</name>
        <label>Lock/Unlock Decision</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>LockBudget</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UnLock_Budget</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Funding Opportunities</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnlockBudget</targetReference>
            </connector>
            <label>UnLock Budget</label>
        </rules>
    </decisions>
    <interviewLabel>CB GM Grant Approval Rule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CB GM Grant Approval Rule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lock_Unlock_Decision</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record__Prior.Id</elementReference>
        </value>
    </variables>
</Flow>
